{{define "privacy"}}

<html>
<head>

  <title>gorala - privacy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/spectre.min.css">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
	<style>

    .vcenter { 
			text-align: left;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%);
    			transform: translateX(-50%) translateY(-50%);
		}

  body {background: #FAFAFA !important;}

      #triangle-topright {
      width: 0;
      height: 0;
      border-top: 100px solid rgba(48, 55, 66);
      border-left: 100px solid transparent;
    }

</style>	

<body>




</body>
</html>
{{end}}