{{define "privacy"}}

<html>
<head>

  <title>Privacy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/spectre.min.css">
	<style>

  body {background: rgba(255, 255, 255, .60) !important;}

      #triangle-topright {
      width: 0;
      height: 0;
      border-top: 100px solid rgba(48, 55, 66);
      border-left: 100px solid transparent;
    }

</style>	

<body>
<div class="float-right" id="triangle-topright"> </div>
<div class="container">

<div>



</body>
</html>
{{end}}