{{define "reset_password"}}

<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<title>Reset password</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Center test 1 | Spectre.css</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<style>

  body {background: rgba(255, 255, 255, .60) !important;}

	.vcenter { 
			text-align: left;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%);
    			transform: translateX(-50%) translateY(-50%);
		}

  input[type="text"]:focus{
   box-shadow: 0 0 0 0.2rem rgba(48, 55, 66, .15) !important;
   border: 1px solid rgba(48, 55, 66) !important; 
  }
	</style>	
<body>

<div class="container">
		<div class="columns">
			<div class="column vcenter">
				<div class="form-group">
        <h3>Hey, you can reset your password below.</h3>
  <form action="/reset/{{.}}" method="POST">
  <div class="pb-1">
  <label class="form-label" for="input-old-password">Old Password</label>
  <input class="form-input" type="password" id="input-old-password" placeholder="Password" name="old_password" required>
  </div>

   <div class="pb-1">
  <label class="form-label" for="input-new-password">New Password</label>
  <input class="form-input" type="password" id="input-new-password" placeholder="Password" name="new_password" required>
</div>

  <div class="pb-1">
  <label class="form-label" for="input-verify-password">Verify Password</label>
  <input class="form-input" type="password" id="input-verify-password" placeholder="Verify Password" name="verify_password" required>
  </div>

  <input type="hidden" value="{{.}}">

  <input class="mt-2 btn btn-primary bg-dark" type="submit" value="Submit" style="width: 100%;">
  </form>
</div>
			</div>
		</div>
	</div>



</body>
</html>
{{end}}