{{define "reset_password"}}

<html>
<head>

  <title>gorala - reset password</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/spectre.min.css">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <link rel="icon" href="static/favicon.ico" type="image/x-icon">
	<style>

  body {background: #FAFAFA !important;}

    #triangle-topright {
      width: 0;
      height: 0;
      border-top: 100px solid rgba(48, 55, 66);
      border-left: 100px solid transparent;
    }

	.vcenter { 
			text-align: left;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%);
    			transform: translateX(-50%) translateY(-50%);
		}

  input[type="text"]:focus{
   box-shadow: 0 0 0 0.2rem rgba(48, 55, 66, .15) !important;
   border: 1px solid rgba(48, 55, 66) !important; 
  }

  .hidden {
    display: none;
  }

  .error-text {
    color: red;
  }
	</style>	

  <script>

function onSubmit(e) {
  
  let form = document.getElementById('form');
  form.classList.add("hidden");

  let loadingIndicator = document.getElementById('loading-indicator');
  loadingIndicator.classList.remove("hidden");

  let token = document.getElementById('token').value;
  let oldPassword = document.getElementById('input-old-password').value;
  let newPassword = document.getElementById('input-new-password').value;
  let newPasswordVerify = document.getElementById('input-verify-password').value;

  if(oldPassword.length < 1 || newPasswordVerify.length < 1 || newPassword.length < 1 ){
    document.getElementById('error-p').innerHTML = 'Please fill out all fields';
    form.classList.remove("hidden");
    loadingIndicator.classList.add("hidden");
    return;
  }

  if(newPassword !== newPasswordVerify){
    document.getElementById('error-p').innerHTML = 'Your passwords dont match';
    form.classList.remove("hidden");
    loadingIndicator.classList.add("hidden");
    return;
  }

  let data = {
    old_password: oldPassword,
    new_password: newPassword,
  };

  fetch('/reset/'+token, {
  method: 'post',
  headers: {
    'Accept': 'application/json, text/plain, */*',
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
  }).then(res => {


    if(res.status == 200){
       let success = document.getElementById('success-div');
       success.classList.remove("hidden");
       loadingIndicator.classList.add("hidden");
    }
    else{
      res.text().then(function (text) {
        document.getElementById('error-p').innerHTML = text;
      });
      form.classList.remove("hidden");
      loadingIndicator.classList.add("hidden");
    }

  });

  }

  </script>

<body>

<div class="float-right" id="triangle-topright"> </div>

<div class="container">
		<div class="columns">
			<div class="column vcenter">
        <div class="hidden loading loading-lg" id="loading-indicator"></div>

        <div id="success-div" class="hidden">
          <h3>Your password has been successfully reset.</h3>
        </div>

				<div class="form-group" id="form">
        <h3>Hey, you can reset your password below.</h3>
  <form>
  <div class="pb-1">
  <label class="form-label" for="input-old-password">Old Password</label>
  <input class="form-input" type="password" id="input-old-password" placeholder="Password" name="old_password" autocomplete="on" required>
  </div>

   <div class="pb-1">
  <label class="form-label" for="input-new-password">New Password</label>
  <input class="form-input" type="password" id="input-new-password" placeholder="Password" name="new_password" autocomplete="on" required>
</div>

  <div class="pb-1">
  <label class="form-label" for="input-verify-password">Verify Password</label>
  <input class="form-input" type="password" id="input-verify-password" placeholder="Verify Password" name="verify_password" autocomplete="on" required>
  </div>

  <input type="hidden" id="token" value="{{.}}">

  <input class="mt-2 btn btn-primary bg-dark" type="button" id="submit-button" value="Submit" onclick="onSubmit();" style="width: 100%;">

  <div class="mt-2">
    <p id="error-p" class="error-text"></p>
  <div>

  </form>
</div>
			</div>
		</div>
	</div>



</body>
</html>
{{end}}